{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Creation Form</title>
<!-- 	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Grade Cal</a>
    		</div>
    		<ul class="nav navbar-nav">
      			<li class="active"><a href="#">Software Engineering</a></li>
      			<li><a href="#">Web and Mobile Security</a></li> 
      			<li><a href="#">Reverse Engineering</a></li> 
    		</ul>
  		</div>
	</nav>
 -->
</head>
<body>
	{{ assignment_creation_form.as_p }}
</body>
</html>