{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ student.first_name }}'s Wizard</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>
					You are currently enrolled in the following courses:
					<ul>
						{% for course in courses %}
							<li><a href="{% url 'gradeCal:selected_course' id=course.id %}">{{ course.title }}</a></li>
						{% endfor %}
					</ul>
				</p>
				<form method='POST' action="">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Create Course">
				</form>
			</div>
		</div>
	</div>
</body>
</html>