{% extends 'gradeCal/base.html' %}

<head>
	<meta charset="UTF-8">
	<title>
	{% block head_title %}
		{{ student.first_name }} | GW
	{% endblock head_title %}
	</title>
</head>

{% block main_content %}
<p>
	You are currently enrolled in the following courses:
	<ul>
		{% for course in courses %}
			<li><a href="{% url 'gradeCal:selected_course' id=course.id %}">{{ course.title }}</a></li>
		{% endfor %}
	</ul>
</p>
<form method='POST' action="">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Create Course">
</form>
{% endblock main_content %}