{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>

<!-- Latest compiled version of Bootstrap. V. 3.6 -->

<meta charset="UTF-8">
<title>{{ title }}</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
				{% for student in students %}
					<li><a href="{% url 'gradeCal:dashboard' id=student.id %}">View grades for {{ student.first_name }} {{ student.last_name }}</a></li>
				{% endfor %}
				</ul>
				<form method='POST' action="">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Create Student">
				</form>
			</div>
		</div>
	</div>


</body>
</html>